<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <security>
            <requestFiltering>
                <denyUrlSequences>
                    <add sequence="/data/" />
                    <add sequence="/conf/" />
                    <add sequence="/bin/" />
                    <add sequence="/inc/" />
                </denyUrlSequences>
                <alwaysAllowedUrls>
                    <add url="/data/media" />
                </alwaysAllowedUrls>
            </requestFiltering>
            <!--<authentication>
                <anonymousAuthentication enabled="false" />
                <windowsAuthentication enabled="true" />
            </authentication>-->
        </security>
		
        <rewrite>
            <outboundRules>
                <preConditions>
                    <preCondition name="ResponseIsHtml1">
                        <add input="{RESPONSE_CONTENT_TYPE}" pattern="^text/html" />
                    </preCondition>
                </preConditions>
            </outboundRules>
			
            <rules>
				<rule name="Favicon" patternSyntax="ExactMatch" stopProcessing="true">
                    <match url="lib/tpl/gnap/images/favicon.ico" />
                    <action type="None" />
                </rule>
				
				<rule name="Imported Rule 2" stopProcessing="true">
                    <match url="^(.*)" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{HTTPS}" pattern="on" ignoreCase="false" />
                        <add input="{QUERY_STRING}" pattern="(do=show|^$)" ignoreCase="false" />
                        <add input="{REQUEST_METHOD}" pattern="GET" ignoreCase="false" />
                    </conditions>
                    <action type="Redirect" url="http://{HTTP_HOST}/{R:1}" appendQueryString="true" redirectType="Found" />
                </rule>
                <rule name="Imported Rule 3" stopProcessing="true">
                    <match url="^_media/(.*)" ignoreCase="false" />
                    <action type="Rewrite" url="lib/exe/fetch.php?media={R:1}" appendQueryString="true" />
                </rule>
                <rule name="Imported Rule 4" stopProcessing="true">
                    <match url="^_detail/(.*)" ignoreCase="false" />
                    <action type="Rewrite" url="lib/exe/detail.php?media={R:1}" appendQueryString="true" />
                </rule>
                <rule name="Imported Rule 5" stopProcessing="true">
                    <match url="^_export/([^/]+)/(.*)" ignoreCase="false" />
                    <action type="Rewrite" url="doku.php?do=export_{R:1}&amp;id={R:2}" appendQueryString="true" />
                </rule>
                <rule name="Imported Rule 6" stopProcessing="true">
                    <match url="^$" ignoreCase="false" />
                    <action type="Rewrite" url="doku.php" />
                </rule>
                <rule name="Imported Rule 7" stopProcessing="true">
                    <match url="(.*)" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" ignoreCase="false" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" ignoreCase="false" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="doku.php?id={R:1}" appendQueryString="true" />
                </rule>
                <rule name="Imported Rule 8">
                    <match url="^index.php$" ignoreCase="false" />
                    <action type="Rewrite" url="doku.php" />
                </rule>
            </rules>
        </rewrite>
      
        <directoryBrowse enabled="false" />
    </system.webServer>
</configuration>
